allow vold nvdata_device:blk_file rw_file_perms;
allow vold nvdata_file:dir ioctl;
allow vold nvdata_file:dir open;
allow vold nvdata_file:dir read;
allow vold cache_block_device:blk_file rw_file_perms;
allow vold proc_mtkcooler:dir open;
allow vold proc_mtkcooler:dir read;
allow vold proc_mtktz:dir open;
allow vold proc_mtktz:dir read;
allow vold protect1_device:blk_file rw_file_perms;
allow vold protect2_device:blk_file rw_file_perms;
allow vold protect_f_data_file:dir ioctl;
allow vold protect_f_data_file:dir open;
allow vold protect_f_data_file:dir read;
allow vold protect_s_data_file:dir ioctl;
allow vold protect_s_data_file:dir open;
allow vold protect_s_data_file:dir read;
